body {
    font-family: 'Playfair Display', 'PT Serif';
    background-color: #121212;
    color: #f2f2f2;

}

.header {
    height: 120px;
    width: 100%;
    position: relative;
}

.navbar {
    position: absolute;
    right: 14px;
    top: 24px;
    height: 120px;
}

#navbarName {
    color: #f2f2f2;
    padding-left: 12px;
}

#profile {
    width: 150%
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #f2f2f2;
    margin: 14px 16px;
    padding: 8px;
    text-decoration: none;
    letter-spacing: 0.235px;
    /* margin-right: 12px; */
}

.project-link {
    color: #f2f2f2;
    text-decoration: none;
}

.text-color {
    color: #f2f2f2;
}


.icon-link {
    color: #f2f2f2;
    font-size: 28px;
}

a:hover {
    color: #8BE8CB;
    /* font-weight: bold;
    letter-spacing: 0; */
}

a.active {
    border: solid 1px #fff;
    /*color: #CE7DA5;*/
}

.content {
    display: flex;
    align-items: center;
}

.contenttext {
    padding-top: 50px;
}

#profile {
    width: 40%;
}

.main-wrapper {
    position: relative;
    min-height: 100vh;
}

.content-wrapper {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.copyright {
    display: inline;
    padding-right: 42px;
    float: right;
}

.ux-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-gap: 15px;
}

.writing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    grid-gap: 5px;
}

.project-img {
    width: 100%;
    height: 80%;
    margin-bottom: 4px;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 48px;
}

.spacing {
    padding-top: 12px;
    padding-bottom: 12px;
}

.content-titles {
    padding-top: 24px;
    text-align: center;
    text-decoration: underline overline;
    font-size: 36px;
    /* margin-right: 36px; */
}

.table-center {
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #e4e4e4;
    text-align: center;
}

td {
    padding: 12px;
}

.writing-container {
    display: flex;
    padding: 48px 124px 0px 124px;
    justify-content: center;
}

.writing-img {
    width: 25%;
}

.spacing1 {
    padding: 0px 48px 0px 48px;
}

.writing-title {
    margin-top: 0px;
    font-size: 20px;
}
.writing-text {
    margin-top: 0px;
    margin-left: 24px;
    margin-right: 48px;
}

.books-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 48px;
}

.books-row img {
    margin: 4px;
    vertical-align: middle;
    width: 25%;
    height: auto;
}

.card-title {
    padding: 12px;
    font-size: 24px;
}

.card-image {
    margin-bottom: 16px;
}


.card-text {
    padding: 0 16px 16px;
    line-height: 1.5;   
}

.card-content {
    background-color: #222;
    border-radius: 4px;
    text-align: left;
    /* box-shadow: 0px 5px 5px 0px rgba(255,255,255,0.3);  */
}

.intro-title {
    font-size: 48px;
}

.intro-subtitle {
    font-size: 24px;
}

.highlight:hover {
    color: #8BE8CB;
}