body {
    background-color: black;
    font-family: Lato, Helvetica, sans-serif;
    color: white;
}

.header {
    height: 120px;
    width: 100%;
    position: relative;
}
.navbar {
    position: absolute;
    right: 14px;
    top: 24px;
    height: 120px;
}

#navbarName {
    color: white;
    padding-left: 12px;
}

#profile {
    width: 150%
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    margin: 14px 16px;
    padding: 2px;
    text-decoration: none;
    letter-spacing: 0.235px;
    /* margin-right: 12px; */
}

li a:hover {
    color: #EE6C4D;
    /* font-weight: bold;
    letter-spacing: 0; */
}

li a:active {
    color: #EE6C4D;
}

.content {
    display: flex;
    align-items: center;
}
.contenttext {
    padding-top: 50px;
}
#profile {
    width: 40%;
}